{% import_yaml "jails/defaults/host.yaml" as defaults_host %}
{% import_yaml "jails/defaults/jails.yaml" as defaults_jails %}
{% import_yaml "jails/defaults/archs.yaml" as defaults_archs %}
{% import_yaml "jails/defaults/versions.yaml" as defaults_versions %}
{% import_yaml "jails/defaults/flavours.yaml" as defaults_flavours %}

{% set jails = salt.pillar.get('jails') %}

{% set defaults = salt.slsutil.merge({
    'host': defaults_host,
    'jails': defaults_jails,
    'archs': defaults_archs,
    'versions': defaults_versions,
    'flavours': defaults_flavours
}, jails.lookup) %}

{% do jails.update(salt.slsutil.merge(defaults.host, jails)) %}

{% for jail_name, jail_config in jails.instances.items() %}
    {% do jail_config.update(salt.slsutil.merge({
        'root': salt.file.join(jails.root, jail_name),
        'name': jail_name
    }, jail_config)) %}

    {% do jail_config.update(salt.slsutil.merge(defaults.jails, jail_config)) %}
    {% do jail_config.update(salt.slsutil.merge(defaults.archs[jail_config.arch], jail_config)) %}
    {% do jail_config.update(salt.slsutil.merge(defaults.versions[jail_config.version], jail_config)) %}
    {% if jail_config.flavours is defined and defaults.flavours is defined %}
        {% for flavour in jail_config.flavours %}
            {% do jail_config.update(salt.slsutil.merge(defaults.flavours[flavour], jail_config)) %}
        {% endfor %}
    {% endif %}
    {% if jail_config.present and jail_config.boot_start %}
        {% do jails.sysrc_jail_list.append(jail_name) %}
    {% endif %}
{% endfor %}

{% do jails.update({
    'sysrc_jail_list': jails.instances.values()|selectattr('present')|selectattr('boot_start')|join(' ', 'name')
})

{#
{% do salt.log.info('*******************************') %}
{% do salt.log.info(jails.sysrc_jail_list) %}
{% do salt.log.info('*******************************') %}
#}
