{% set jails = salt.pillar.get('jails') %}

{# Start with defaults #}
{% import_yaml "jails/defaults/init.yaml" as defaults %}

{% for jail_name, jail_config in jails.instances.items() %}

{% import_yaml "jails/defaults/versions" | path_join('{}.yaml'.format(jail_config.version)) as defaults_version %}

{% import_yaml "jails/defaults/archs" | path_join('{}.yaml'.format(jail_config.arch|default(defaults.arch))) as defaults_arch %}

{% do jail_config.update(
    salt.slsutil.merge(defaults_version,
        salt.slsutil.merge(defaults_arch,
            salt.slsutil.merge(defaults, jail_config)))) %}

{# {% do jail_config.update({'rc_conf': salt.slsutil.merge(rc_conf.rc_conf, jail_config.rc_conf|default({}))}) %} #}

{% endfor %}

{% do salt.log.info('*******************************') %}
{% do salt.log.info(jails) %}
{% do salt.log.info('*******************************') %}
