# vim: syntax=yaml

jails:
  lookup:
    host:
      jail_conf_template: salt://jails/files/templates/jail.conf.jinja
    jails:
      salt:
        master: override_salt_master.lan
    flavours:
      pkg-my_repo_121:
        myrepo.conf: |
          myrepo: {
            url: "http://some.poudriere.host/packages/12_1amd64-b_2019Q4-server",
            enabled: yes
          }
  instances:
    pg11:
      present: true
      version: 11.2-RELEASE
      init_scripts: 
        - salt://jails/files/scripts/jail_init.sh
      salt:
        minion_id: pg11.lan
        pkg: py36-salt
      jail_conf: |
        $ip = 39;
        allow.sysvipc = 1;
      rc_conf:
        foo_enable: "YES"
      patches:
        - target: /etc/login.conf
          diff: patch-login.conf
          hash: 07ebd5eaebb5f9bb87e769356bec62fb
      flavours:
        - pkg-no-freebsd
      pkg:
        myrepo.conf: |
          myrepo: {
            url: "http://some.poudriere.host/packages/11_2amd64-b_2019Q1-server",
            enabled: yes
          }
      fstab:
        - device: /data/jails/pg11
          mount_point: /jails/pg11/data 
          fstype: nullfs
          opts: rw 

        - device: /data/jails/pg11/data11
          mount_point: /jails/pg11/data/data11 
          fstype: nullfs
          opts: rw 
          user: 770
          group: 770
          mode: 700

        - device: /data/jails/pg11/backups
          mount_point: /jails/pg11/data/backups 
          fstype: nullfs
          opts: rw 
          user: 770
          group: 770
          mode: 700
    oldstuff:
      present: true
      version: 10.4-RELEASE
      init_scripts: 
        - salt://jails/files/scripts/jail_init.sh
      salt:
        minion_id: oldstuff.lan
        master: another_salt_master.lan
        pkg: py27-salt
      jail_conf: |
        $ip = 39;
        depend = pg11;
    anotherjail:
      version: 12.1-RELEASE
      init_scripts: 
        - salt://jails/files/scripts/jail_init.sh
        - salt://jails/files/scripts/another_script.sh
      salt:
        minion_id: anotherjail.lan
      jail_conf: |
        $ip = 31;
      rc_conf:
        some_daemon_enable: "YES"
        some_daemon_flags: "-foo -bar"
      patches:
        - target: /etc/login.conf
          diff: patch-login.conf
          hash: 07ebd5eaebb5f9bb87e769356bec62fb
      fstab:
        - device: /data/jails/anotherjail
          mount_point: /jails/anotherjail/data 
          fstype: nullfs
          opts: rw 
      flavours:
        - pkg-no-freebsd
        - pkg-my_repo_121
